/* ------Estilos para validación-----------  */
.form-correctForm .form-validation {
    color: green;
    opacity: 1;
}

.form-incorrectForm .labelForm {
    color: red;
}

.form-incorrectForm .form-validation {
    color: red;
    opacity: 1;
}

.form-incorrectForm .formInput {
    border: 3px solid red;
}

/*-------------------------- */